In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas_profiling as pp
import time
from sklearn import preprocessing

In [2]:
data = pd.read_csv('nyc-rolling-sales.csv')

In [3]:
!pip install pandas_profiling

Requirement already satisfied: pandas_profiling in c:\users\paualberto\anaconda3.1\lib\site-packages (2.3.0)
Requirement already satisfied: jinja2>=2.8 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas_profiling) (2.10.3)
Requirement already satisfied: pandas>=0.19 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas_profiling) (0.25.1)
Requirement already satisfied: astropy in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas_profiling) (3.2.1)
Requirement already satisfied: confuse>=1.0.0 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas_profiling) (1.0.0)
Requirement already satisfied: matplotlib>=1.4 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas_profiling) (3.1.1)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas_profiling) (0.4.2)
Requirement already satisfied: phik>=0.9.8 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas_profiling) (0.9.8)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\paualberto\anaconda3.1\lib\site-packages (from jinja2>=2.8->pandas_profiling) (1.1.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas>=0.19->pandas_profiling) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas>=0.19->pandas_profiling) (1.16.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pandas>=0.19->pandas_profiling) (2019.3)
Requirement already satisfied: pyyaml in c:\users\paualberto\anaconda3.1\lib\site-packages (from confuse>=1.0.0->pandas_profiling) (5.1.2)
Requirement already satisfied: cycler>=0.10 in c:\users\paualberto\anaconda3.1\lib\site-packages (from matplotlib>=1.4->pandas_profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\paualberto\anaconda3.1\lib\site-packages (from matplotlib>=1.4->pandas_profiling) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\paualberto\anaconda3.1\lib\site-packages (from matplotlib>=1.4->pandas_profiling) (2.4.2)
Requirement already satisfied: seaborn in c:\users\paualberto\anaconda3.1\lib\site-packages (from missingno>=0.4.2->pandas_profiling) (0.9.0)
Requirement already satisfied: scipy in c:\users\paualberto\anaconda3.1\lib\site-packages (from missingno>=0.4.2->pandas_profiling) (1.3.1)
Requirement already satisfied: pytest>=4.0.2 in c:\users\paualberto\anaconda3.1\lib\site-packages (from phik>=0.9.8->pandas_profiling) (5.2.1)
Requirement already satisfied: nbconvert>=5.3.1 in c:\users\paualberto\anaconda3.1\lib\site-packages (from phik>=0.9.8->pandas_profiling) (5.6.0)
Requirement already satisfied: pytest-pylint>=0.13.0 in c:\users\paualberto\anaconda3.1\lib\site-packages (from phik>=0.9.8->pandas_profiling) (0.14.1)
Requirement already satisfied: numba>=0.38.1 in c:\users\paualberto\anaconda3.1\lib\site-packages (from phik>=0.9.8->pandas_profiling) (0.45.1)
Requirement already satisfied: jupyter-client>=5.2.3 in c:\users\paualberto\anaconda3.1\lib\site-packages (from phik>=0.9.8->pandas_profiling) (5.3.3)
Requirement already satisfied: six>=1.5 in c:\users\paualberto\anaconda3.1\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.19->pandas_profiling) (1.12.0)
Requirement already satisfied: setuptools in c:\users\paualberto\anaconda3.1\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas_profiling) (41.4.0)
Requirement already satisfied: py>=1.5.0 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (1.8.0)
Requirement already satisfied: packaging in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (19.2)
Requirement already satisfied: attrs>=17.4.0 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (19.2.0)
Requirement already satisfied: more-itertools>=4.0.0 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (7.2.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (1.3.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.13.0)
Requirement already satisfied: wcwidth in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.1.7)
Requirement already satisfied: importlib-metadata>=0.12 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.23)
Requirement already satisfied: colorama in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.4.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (4.3.3)
Requirement already satisfied: defusedxml in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.6.0)
Requirement already satisfied: testpath in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.4.2)
Requirement already satisfied: bleach in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (3.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (1.4.2)
Requirement already satisfied: jupyter-core in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (4.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.3)
Requirement already satisfied: pygments in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (2.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.8.4)
Requirement already satisfied: nbformat>=4.4 in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (4.4.0)
Requirement already satisfied: pylint>=1.4.5 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (2.4.2)
Requirement already satisfied: llvmlite>=0.29.0dev0 in c:\users\paualberto\anaconda3.1\lib\site-packages (from numba>=0.38.1->phik>=0.9.8->pandas_profiling) (0.29.0)
Requirement already satisfied: tornado>=4.1 in c:\users\paualberto\anaconda3.1\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas_profiling) (6.0.3)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\paualberto\anaconda3.1\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas_profiling) (223)
Requirement already satisfied: pyzmq>=13 in c:\users\paualberto\anaconda3.1\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas_profiling) (18.1.0)
Requirement already satisfied: zipp>=0.5 in c:\users\paualberto\anaconda3.1\lib\site-packages (from importlib-metadata>=0.12->pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.6.0)
Requirement already satisfied: ipython-genutils in c:\users\paualberto\anaconda3.1\lib\site-packages (from traitlets>=4.2->nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.2.0)
Requirement already satisfied: decorator in c:\users\paualberto\anaconda3.1\lib\site-packages (from traitlets>=4.2->nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (4.4.0)
Requirement already satisfied: webencodings in c:\users\paualberto\anaconda3.1\lib\site-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\paualberto\anaconda3.1\lib\site-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (3.0.2)
Requirement already satisfied: mccabe<0.7,>=0.6 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (0.6.1)
Requirement already satisfied: isort<5,>=4.2.5 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (4.3.21)
Requirement already satisfied: astroid<2.4,>=2.3.0 in c:\users\paualberto\anaconda3.1\lib\site-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (2.3.1)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\paualberto\anaconda3.1\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.15.4)
Requirement already satisfied: wrapt==1.11.* in c:\users\paualberto\anaconda3.1\lib\site-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (1.11.2)
Requirement already satisfied: typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" in c:\users\paualberto\anaconda3.1\lib\site-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (1.4.0)
Requirement already satisfied: lazy-object-proxy==1.4.* in c:\users\paualberto\anaconda3.1\lib\site-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (1.4.2)

In [4]:
#report1 = pp.ProfileReport(data)

In [ ]:
#report1

In [ ]:
#data.columns

In [5]:
data.columns

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [6]:
del data['Unnamed: 0']
del data['SALE DATE']
del data ['EASE-MENT']

In [7]:
data['SALE PRICE'] = pd.to_numeric(data['SALE PRICE'], errors='coerce') #convert dtype to numeric
data['GROSS SQUARE FEET'] = pd.to_numeric(data['GROSS SQUARE FEET'], errors='coerce') #convert dtype to numeric
data['LAND SQUARE FEET'] = pd.to_numeric(data['LAND SQUARE FEET'], errors='coerce') #convert dtype to numeric

In [8]:
data['SALE PRICE'] = data['SALE PRICE'].fillna(0) #null = 0
data['GROSS SQUARE FEET'] = data['GROSS SQUARE FEET'].fillna(0)
data['LAND SQUARE FEET'] = data['LAND SQUARE FEET'].fillna(0)

In [ ]:
#data['SALE_PRICE'].isna().sum()

In [9]:
data = data[data['SALE PRICE'] > 1e5]
data = data[data['COMMERCIAL UNITS'] > 0]
data = data[data['RESIDENTIAL UNITS'] > 0]
data = data[data['TOTAL UNITS'] > 0]
data = data[data['YEAR BUILT'] > 0]

In [10]:
data['BBL'] = data['BOROUGH'].map(str) + data['BLOCK'].map(str) + data['LOT'].map(str)

In [11]:
data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,BBL
172,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,391,19,S3,624 EAST 9TH STREET,,10009,3,1,4,1520.0,3360.0,1910,2,S3,3300000.0,139119
173,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,393,4,S4,165 AVENUE B,,10009,4,1,5,2201.0,5608.0,1900,2,S4,7215000.0,13934
174,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,394,5,S5,183 AVENUE B,,10009,5,1,6,1779.0,3713.0,1910,2,S5,4750000.0,13945
212,1,CHELSEA,02 TWO FAMILY DWELLINGS,1,769,49,S2,218 WEST 20TH STREET,,10011,2,1,3,2150.0,4978.0,1920,1,S2,7750000.0,176949
216,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,696,37,C4,253 10TH AVENUE,,10001,6,1,7,1463.0,3762.0,1901,2,C4,16000000.0,169637

In [12]:
data['BBL'] = pd.to_numeric(data['BBL'],errors='coerce')

In [13]:
data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,BBL
172,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,391,19,S3,624 EAST 9TH STREET,,10009,3,1,4,1520.0,3360.0,1910,2,S3,3300000.0,139119
173,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,393,4,S4,165 AVENUE B,,10009,4,1,5,2201.0,5608.0,1900,2,S4,7215000.0,13934
174,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,394,5,S5,183 AVENUE B,,10009,5,1,6,1779.0,3713.0,1910,2,S5,4750000.0,13945
212,1,CHELSEA,02 TWO FAMILY DWELLINGS,1,769,49,S2,218 WEST 20TH STREET,,10011,2,1,3,2150.0,4978.0,1920,1,S2,7750000.0,176949
216,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,696,37,C4,253 10TH AVENUE,,10001,6,1,7,1463.0,3762.0,1901,2,C4,16000000.0,169637

In [14]:
LE = preprocessing.LabelEncoder()
LE.fit(data['BUILDING CLASS CATEGORY'])

LabelEncoder()

In [15]:
LE.classes_

array(['01 ONE FAMILY DWELLINGS                    ',
       '02 TWO FAMILY DWELLINGS                    ',
       '03 THREE FAMILY DWELLINGS                  ',
       '05 TAX CLASS 1 VACANT LAND                 ',
       '06 TAX CLASS 1 - OTHER                     ',
       '07 RENTALS - WALKUP APARTMENTS             ',
       '08 RENTALS - ELEVATOR APARTMENTS           ',
       '09 COOPS - WALKUP APARTMENTS               ',
       '10 COOPS - ELEVATOR APARTMENTS             ',
       '11A CONDO-RENTALS                           ',
       '14 RENTALS - 4-10 UNIT                     ',
       '21 OFFICE BUILDINGS                        ',
       '22 STORE BUILDINGS                         ',
       '23 LOFT BUILDINGS                          ',
       '25 LUXURY HOTELS                           ',
       '26 OTHER HOTELS                            ',
       '27 FACTORIES                               ',
       '29 COMMERCIAL GARAGES                      ',
       '30 WAREHOUSES                              ',
       '31 COMMERCIAL VACANT LAND                  ',
       '32 HOSPITAL AND HEALTH FACILITIES          ',
       '33 EDUCATIONAL FACILITIES                  ',
       '35 INDOOR PUBLIC AND CULTURAL FACILITIES   ',
       '37 RELIGIOUS FACILITIES                    ',
       '38 ASYLUMS AND HOMES                       '], dtype=object)

In [16]:
newdata = LE.transform(data['BUILDING CLASS CATEGORY'])

In [17]:
newdata

array([10, 10, 10, ..., 11, 12,  0])

In [18]:
data['BUILDING CLASS CATEGORY'] = newdata

In [ ]:
#help(LE)

In [19]:
data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,BBL
172,1,ALPHABET CITY,10,2A,391,19,S3,624 EAST 9TH STREET,,10009,3,1,4,1520.0,3360.0,1910,2,S3,3300000.0,139119
173,1,ALPHABET CITY,10,2A,393,4,S4,165 AVENUE B,,10009,4,1,5,2201.0,5608.0,1900,2,S4,7215000.0,13934
174,1,ALPHABET CITY,10,2A,394,5,S5,183 AVENUE B,,10009,5,1,6,1779.0,3713.0,1910,2,S5,4750000.0,13945
212,1,CHELSEA,1,1,769,49,S2,218 WEST 20TH STREET,,10011,2,1,3,2150.0,4978.0,1920,1,S2,7750000.0,176949
216,1,CHELSEA,5,2B,696,37,C4,253 10TH AVENUE,,10001,6,1,7,1463.0,3762.0,1901,2,C4,16000000.0,169637

In [20]:
LE.fit(data['TAX CLASS AT PRESENT'])

LabelEncoder()

In [21]:
LE.classes_

array(['1', '2', '2A', '2B', '4'], dtype=object)

In [22]:
data['TAX CLASS AT PRESENT'] = LE.transform(data['TAX CLASS AT PRESENT'])

In [23]:
data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,BBL
172,1,ALPHABET CITY,10,2,391,19,S3,624 EAST 9TH STREET,,10009,3,1,4,1520.0,3360.0,1910,2,S3,3300000.0,139119
173,1,ALPHABET CITY,10,2,393,4,S4,165 AVENUE B,,10009,4,1,5,2201.0,5608.0,1900,2,S4,7215000.0,13934
174,1,ALPHABET CITY,10,2,394,5,S5,183 AVENUE B,,10009,5,1,6,1779.0,3713.0,1910,2,S5,4750000.0,13945
212,1,CHELSEA,1,0,769,49,S2,218 WEST 20TH STREET,,10011,2,1,3,2150.0,4978.0,1920,1,S2,7750000.0,176949
216,1,CHELSEA,5,3,696,37,C4,253 10TH AVENUE,,10001,6,1,7,1463.0,3762.0,1901,2,C4,16000000.0,169637

In [24]:
LE.fit(data['BUILDING CLASS AT PRESENT'])
LE.classes_
data['BUILDING CLASS AT PRESENT'] = LE.transform(data['BUILDING CLASS AT PRESENT'])

In [25]:
data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,BBL
172,1,ALPHABET CITY,10,2,391,19,51,624 EAST 9TH STREET,,10009,3,1,4,1520.0,3360.0,1910,2,S3,3300000.0,139119
173,1,ALPHABET CITY,10,2,393,4,52,165 AVENUE B,,10009,4,1,5,2201.0,5608.0,1900,2,S4,7215000.0,13934
174,1,ALPHABET CITY,10,2,394,5,53,183 AVENUE B,,10009,5,1,6,1779.0,3713.0,1910,2,S5,4750000.0,13945
212,1,CHELSEA,1,0,769,49,50,218 WEST 20TH STREET,,10011,2,1,3,2150.0,4978.0,1920,1,S2,7750000.0,176949
216,1,CHELSEA,5,3,696,37,7,253 10TH AVENUE,,10001,6,1,7,1463.0,3762.0,1901,2,C4,16000000.0,169637

In [26]:
LE.fit(data['BUILDING CLASS AT TIME OF SALE'])
LE.classes_
data['BUILDING CLASS AT TIME OF SALE'] = LE.transform(data['BUILDING CLASS AT TIME OF SALE'])

In [27]:
LE.fit(data['NEIGHBORHOOD'])
LE.classes_
data['NEIGHBORHOOD'] = LE.transform(data['NEIGHBORHOOD'])

In [28]:
LE.fit(data['ADDRESS'])
LE.classes_
data['ADDRESS'] = LE.transform(data['ADDRESS'])

In [29]:
data = data[data['NEIGHBORHOOD'] > 0]

In [30]:
data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,BBL
212,1,28,1,0,769,49,50,544,,10011,2,1,3,2150.0,4978.0,1920,1,50,7750000.0,176949
216,1,28,5,3,696,37,7,662,,10001,6,1,7,1463.0,3762.0,1901,2,7,16000000.0,169637
221,1,28,5,1,764,68,7,671,,10011,22,2,24,2581.0,13056.0,1901,2,7,14100000.0,176468
230,1,28,5,3,790,8,10,309,,10011,8,1,9,2581.0,7650.0,1920,2,10,6450000.0,17908
231,1,28,5,1,790,9,10,295,,10011,15,1,16,2077.0,6335.0,1901,2,10,5500000.0,17909

In [31]:
data.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT',
       'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'BBL'],
      dtype='object')

In [32]:
features = ['BBL', 'BUILDING CLASS CATEGORY','TAX CLASS AT PRESENT','BUILDING CLASS AT PRESENT', 'TAX CLASS AT TIME OF SALE','BUILDING CLASS AT TIME OF SALE','GROSS SQUARE FEET', 'LAND SQUARE FEET','COMMERCIAL UNITS','YEAR BUILT', 'NEIGHBORHOOD', 'ADDRESS','TOTAL UNITS']

In [33]:
from sklearn.preprocessing import StandardScaler

In [34]:
X = data[features]
y = data['SALE PRICE']

In [35]:
scaler = StandardScaler()
scaler.fit(X)

transformed_data = scaler.transform(X)
transformed_data_df = pd.DataFrame(transformed_data, columns=X.columns)

In [36]:
sns.set(rc={'figure.figsize':(20,10)})

from sklearn.model_selection import train_test_split # split dataset

from sklearn.linear_model import LogisticRegression # linear model for classification

from sklearn.metrics import confusion_matrix

from sklearn.metrics import mean_squared_error as mse

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

In [38]:
# initialize model
log_reg = LogisticRegression()

# fit model
log_reg.fit(X_train, y_train)

# metrics (accuracy)
acc = log_reg.score(X_test, y_test)


# predictions
y_pred = log_reg.predict(X_test)

C:\Users\paualberto\Anaconda3.1\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\paualberto\Anaconda3.1\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\paualberto\Anaconda3.1\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [39]:
from sklearn.ensemble import RandomForestRegressor as rfr
est = rfr(n_estimators=100, random_state=0).fit(X_train, y_train)
a = est.predict(X_test)

In [40]:
np.sqrt(mse(y_test, a))

9523644.728683723